<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add
        key="debugOnly"
        value="false"
        />
    <add
        key="logFile"
        value="log.txt"
        />
    <add
        key="deleteLogs"
        value="true"
        />
    <add
        key="fileLog"
        value="true"
        />
    <add
        key="consoleLog"
        value="true"
        />
    <add
        key="infoOnlyConsole"
        value="false"
        />
  </appSettings>
</configuration>
