<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.9.4" targetFramework="net48" />
  <package id="cef.redist.x64" version="75.1.14" targetFramework="net48" />
  <package id="cef.redist.x86" version="75.1.14" targetFramework="net48" />
  <package id="CefSharp.Common" version="75.1.142" targetFramework="net48" />
  <package id="CefSharp.Wpf" version="85.3.130" targetFramework="net48" />
  <package id="InputSimulator" version="1.0.4.0" targetFramework="net48" />
  <package id="MvvmDialogs" version="5.3.0" targetFramework="net48" />
  <package id="Params_Logger" version="1.0.12" targetFramework="net48" />
  <package id="Prism.Core" version="7.2.0.1367" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="4.6.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.6.0" targetFramework="net48" />
  <package id="System.Security.Permissions" version="4.6.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>